# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Entorno / secretos
.env

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store
